.searchForm {
  justify-content: space-between;

  padding: 1rem;
  border: 0.0625rem solid #c80036;
  border-radius: 0.5rem;
  background-color: #c80036;
  width: 100%;
  height: 5rem;
}

.citySelect {
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  width: 15rem;
  position: absolute;
  left: 0.5rem;
  top: 1rem;
}

.districtSelect {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  width: 15rem;
  position: absolute;
  left: 16.5rem;
  top: 1rem;
}

.priceInput {
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  width: 15rem;
  position: absolute;
  position: absolute;
  left: 32.5rem;
  top: 1rem;
}

.typeSelect {
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  width: 15rem;
  position: absolute;
  left: 48.5rem;
  top: 1rem;
}

.searchButton {
  padding: 0.5rem 1.5rem;
  border-color: #0c1844;
  border-style: solid;
  border-radius: 2rem;
  background-color: #0c1844;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  position: absolute;
  text-align: center;
  left: 68.5rem;
  top: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.searchButton:hover {
  background-color: #fff5e1;
  transform: scale(1.05);
  color: #0c1844;
}
