.form {
  top: 3rem;
  left: 12.5rem;
  width: 56.25rem;
  height: 43.75rem;

  position: relative;

  background-color: #fff5e1;
  border-color: #0c1844;
  padding: 1.25rem;
  margin: 1.25rem;
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 1.875rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.age {
  top: 29.6rem;
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 800;
  left: 8.8rem;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.gender {
  top: 25.6rem;
  left: 8.6rem;
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.userprofile {
  top: 2rem;
  left: 20rem; /* changed from 320px */
  color: black;

  width: 20rem; /* changed from 319px */
  height: auto;
  position: absolute;
  font-size: 2.25rem; /* changed from 36px */
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.full-name {
  top: 6.6rem; /* changed from 137px */
  left: 8.6rem;
  width: 7.375rem; /* changed from 118px */
  height: 1.875rem; /* changed from 30px */

  position: absolute;
}

.name {
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.email-address {
  top: 11.6rem; /* changed from 218px */
  left: 8.6rem;
  width: 15.5625rem; /* changed from 153px */
  height: 1.875rem; /* changed from 30px */

  position: absolute;
}

.email {
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.status {
  top: 21.6rem; /* changed from 370px */
  left: 8.6rem;
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.phone {
  top: 16.6rem; /* changed from 298px */
  left: 8.6rem;
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.button {
  top: 38.75rem; /* changed from 620px */
  left: 7.9375rem; /* changed from 127px */
  width: 12.5rem; /* changed from 200px */
  cursor: pointer;
  height: 2.5rem; /* changed from 40px */

  position: absolute;

  border-color: #0c1844; /* Teal Blue */
  border-style: ridge;
  border-radius: 6.25rem; /* changed from 100px */
  background-color: #0c1844; /* Light Coral */
  color: #ffffff; /* White */
  font-size: 1.25rem; /* changed from 20px */
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #fff5e1;
  transform: scale(1.05);
  color: #0c1844;
}

.accountsetting {
  top: 0.3125rem; /* changed from 5px */
  left: 0.9375rem; /* changed from 15px */

  width: 10.5rem; /* changed from 168px */
  height: auto;
  position: absolute;
  font-size: 1.25rem; /* changed from 20px */
  font-weight: 600;

  font-family: "Poppins", sans-serif;
}

.nameinput {
  top: 2rem; /* changed from 167px */
  left: 0rem;
  width: 29rem; /* changed from 464px */
  height: 2.5rem; /* changed from 40px */
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.emailinput {
  top: 3rem; /* changed from 253px */
  left: 0rem;
  width: 29rem; /* changed from 464px */
  height: 2.5rem; /* changed from 40px */
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.statusinput {
  top: 23.5rem; /* changed from 398px */
  left: 8.8rem;
  width: 29rem; /* changed from 464px */
  height: 2.5rem; /* changed from 40px */
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.genderinput {
  top: 27.5rem; /* changed from 474px */
  left: 8.8rem;
  width: 29rem; /* changed from 464px */
  height: 2.5rem; /* changed from 40px */
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.ageinput {
  top: 2.5rem;
  left: 0rem;
  width: 29rem; /* changed from 464px */
  height: 2.5rem; /* changed from 40px */
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.phoneinput {
  top: 18.5rem;
  left: 8.8rem;
  width: 29rem;
  height: 2.5rem;
  color: black; /* Teal Blue */
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  position: absolute;
}

.button1 {
  top: 42.5rem;
  left: 33.125rem;
  cursor: pointer;

  position: absolute;
}

.mesg {
  position: absolute;
  top: 12.5rem;
  left: 7.5rem;
  color: black; /* Mint Green */
}
.foot {
  position: relative;
  top: 15rem;
}
