.starrating {
  font-size: xx-large; /* 24px */
  cursor: pointer;
  position: absolute;
  top: 102rem; /* 1670px */
}

.star {
  color: #ccc;
}

.img {
  left: 0.3125rem; /* 5px */
  position: absolute;
  margin-top: auto;
  top: 18.75rem; /* 300px */
}

.photo {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: 70%;
  margin-right: 0.625rem; /* 10px */
  display: flex;
  margin-top: 3.4375rem; /* 55px */
  top: 0.3125rem; /* 5px */
  left: -1.875rem; /* -30px */
}

.comment {
  left: 3.75rem; /* 60px */
  position: absolute;
  width: auto;
  margin-top: auto;
  top: 18.75rem; /* 300px */
}

.commentt {
  margin-top: 2.5rem; /* 40px */
  padding: 0.3125rem; /* 5px */
  background-color: #fff5e1;
  width: 25rem; /* 400px */
  height: 3.125rem; /* 50px */
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border: solid;
  border-color: #0c1844;
  font-style: italic;
  left: 6.875rem; /* 110px */
}

.p {
  font-size: 1rem; /* 16px */
  margin: 1.25rem; /* 20px */
  color: black;
}

.span {
  font-size: 0.625rem; /* 10px */
  margin-top: 0.125rem; /* 2px */
  color: black;
}

.submit {
  border-radius: 2rem; /* 20px */
  border-style: bold;
  background-color: #0c1844;
  width: 10rem;
  color: white;
  padding: 0.3125rem; /* 5px */
  position: relative;
  left: 47rem; /* 500px */
  top: 107rem; /* 1800px */
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit:hover {
  background-color: #fff5e1;
  transform: scale(1.05);
  color: #0c1844;
}
.Ratin {
  color: #c80036;
  position: absolute;
  left: 1.875rem; /* 30px */
  font-weight: 800;
  font-size: x-large;
  top: 99rem; /* 1630px */
}

.Ratinn {
  color: #c80036;
  position: absolute;
  left: 8rem; /* 100px */
  font-weight: 800;
  font-size: x-large;
  top: 99rem; /* 1630px */
}

.Review {
  color: #c80036;
  position: absolute;
  top: 106.5rem; /* 1720px */
  left: 1.875rem; /* 30px */
  font-weight: 800;
  font-size: x-large;
}

.text {
  color: blue;
  position: absolute;
  width: 40rem;
  height: 8rem;
  top: 109rem; /* 1760px */
  left: 3rem; /* 30px */
}
