.button {
  width: 12.5rem; /* 200px converted to rem */
  cursor: pointer;
  height: 2.5rem; /* 40px converted to rem */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem; /* 100px converted to rem */
  background-color: #0c1844; /* Sea Green */
  color: white;
  border-color: #0c1844;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 1.25rem; /* 20px converted to rem */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #fff5e1;
  transform: scale(1.05);
  color: #0c1844;
}

.logout {
  top: 0.3125rem; /* 5px converted to rem */
  left: 0.9375rem; /* 15px converted to rem */

  width: 10.5rem; /* 168px converted to rem */
  height: auto;
  position: absolute;
  font-size: 1.25rem; /* 20px converted to rem */
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
